body {
    background-color: #fff;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

a.brand-logo {
    position: static;
    margin: 0;
}

@media screen and (max-width: 992px) {
    a.brand-logo {
        position: absolute;
    }
}

nav ul a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header a:hover {
    color: #fff;
}

main, #chart {
    height: 90vh !important;
}

.modal-content {
    height: 89%;
    overflow: hidden;
}

.motal-footer { height: 5%; }

input[type="text"] {
    line-height: 40px;
}

img.icon {
    width: 70px;
    height: 70px;
}

h3.chart-title {
    text-align: center;
    margin-left: 20px;
}

.detail-chart {
    height: 70vh;
}

.beelogger-current-box {
    height: 240px;
    margin-bottom: 20px;
}

.beelogger-current-box .card {
    padding: 10px;
    height: 100% !important;
}

.beelogger-current-box .card-title {
    font-size: 130%;
}

.beelogger-current-box span {
    font-size: 300%;
}

.beelogger-current-box p#weight-delta {
    font-size: 170%;
    margin-top: 5px;
}

#beelogger-current-data-error-box {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 5px 30px 5px 20px;
}

footer {
    margin-top: 100px !important;
}

.modal {
    width: 80% !important;
}

.badge {
    padding: 0 20px !important;
    border-radius: 10px;
    font-weight: bold;
}