body {
    background-image: url("/assets/slideshow/bee-background.jpg");
    background-size: 100%;
    background-position-x: 0;
    background-position-y: 0;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#loading {
    position: absolute;
    top: 50px;
    left: 0;
}

ul.tabs {
    margin: 0;
    padding: 0;
}

h1#Wiesmoor_z704 p#date {
    font-size: 50%;
}

#background-box {
    background-color: white;
}

.iframe iframe {
    display: block;
    border: none;
    height: 100vh;
    width: 100vw;
}

.iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#pages-tab, #stundenplan-tab {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

#charts {
    color: black;
    width: 100%;
}

#chart,
#temp_chart,
#weight_chart,
#humidity_chart {
    height: 75vh;
}

#beelogger-current {
    margin-top: 4%;
    padding: 0px 80px 0px 80px;
}

.beelogger-current-box {
    padding: 10px 20px 10px 20px !important;
}

.beelogger-current-box .card {
    background-color: rgba(99, 106, 107, 0.7) !important;
    border-radius: 10px;
}

.beelogger-current-box span {
    font-size: 300%;
}

.beelogger-current-box p {
    font-size: 240% !important;
}

a.weatherwidget-io {
    width: 75% !important;
    margin: 0 auto;
    border-radius: 10px;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: black !important;
}

.indicator {
    background-color: #1f567c;
}

#about div div h5 {
    font-size: 250%;
}

#about div div p {
    font-size: 120%;
}

.about-box {
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 30px !important;
    background-color: rgba(99, 106, 107, 0.5); 
}

#timestamp {
    font-size: 150%;
}