body {
    background-image: url("/assets/slideshow/bee-background.jpg");
    background-size: 100%;
    background-position-x: 0;
    background-position-y: 0;
    color: #fff;
    margin: 0;
    padding: 0;
}

ul.tabs {
    margin: 0;
    padding: 0;
}

h1#Wiesmoor_z704 p#date {
    font-size: 50%;
}

#background-box {
    background-color: white;
}

.iframe iframe {
    display: block;
    border: none;
    height: 100vh;
    width: 100vw;
}

.iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#gallery-tab, #stundenplan-tab {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

#charts {
    color: black;
    width: 100%;
}

.beelogger-current-box img {
    width: 100px;
    height: 100px;
}

a.weatherwidget-io {
    width: 75% !important;
    margin: 0 auto;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: black !important;
}

.indicator {
    background-color: #1f567c;
}

#chart, #weight_chart, #humidity_chart, #temp_chart {
    height: 50vh;
}

#about {
    padding-left: 20px;
    color: #fff;
}
#about div {
    width: 100%;
    max-width: 4000px;
    height: 40%;
}
#about div div {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 33%;
    text-align: center;

    /* border-left: 5px solid gray; */
}

#about div div h5 {
    font-size: 250%;
}

#about div div p {
    font-size: 150%;
}

@media screen and (max-width: 800px) {
    #about div div { 
        display: block;
        height: auto;
        width: 100%; 
        border: none;
        margin-bottom: 70px;
    }
}