{% extends "base.html" %}

{% block custom_header %}
<link rel="stylesheet" href="/css/display.css">
{% endblock %}

{% block content %}
<div id="loading" class="progress">
    <div class="indeterminate"></div>
</div>

<main id="everything">
    {% include './components/modals.html' %}

    <div class="row">
        <div class="col s12 black">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a id="home-button" href="#index-tab" onclick="home()">Dashboard</a></li>
                <li class="tab col {% if pages.keys()|length >= 1 %} s2 {% else %} s3 {% endif %}">
                    <a id="charts-button" href="#charts-tab" onclick="charts()">Diagramme</a>
                </li>
                {% set pageValues = pages.values()|list %}
                {% if pages.keys()|length >= 1 %}
                    <li class="tab col s2"><a href="#pages-tab" onclick="pages('{{ pageValues[0] }}')">Seiten</a></li>
                {% endif %}
                <li class="tab col {% if pages.keys()|length >= 1 %} s2 {% else %} s3 {% endif %}">
                    <a href="#stundenplan-tab" onclick="timetable()">Stundenplan</a>
                </li>
                <li class="tab col s3"><a href="#about-tab" onclick="about()">About</a></li>
            </ul>
        </div>

        <div id="index-tab" class="col s12">
            <div id="current-weather" class="center">
                <h1 id="Wiesmoor_z704"></h1>
                <a class="weatherwidget-io" href="https://forecast7.com/de/53d247d47/leer/" data-label_1="LEER"
                    data-label_2="WEATHER" data-font="Roboto" data-icons="Climacons Animated" data-theme="gray"
                    data-basecolor="rgba(99, 106, 107, 0.5)" data-cloudfill="">LEER WEATHER</a>
                <script src="//widget.time.is/de.js"></script>
                <script>
                    time_is_widget.init({
                        Wiesmoor_z704: {
                            template: "TIME<br><p id='date'>DATE</p>",
                            date_format: "dayname, dnum. monthname year, week"
                        }
                    });
                </script>
                <p id="weather-time-sources" style="display: none;">
                    <a href="https://time.is/Wiesmoor" id="time_is_link" rel="nofollow">time.is</a>,
                    <a href="https://weatherwidget.io/">weatherwidget.io</a>
                </p>
            </div>

            {% include './components/current-data.html' %}
        </div>

        <div id="charts-tab" class="center col s12">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large blue accent-3 modal-trigger" href="#dateRangeModal">
                    <i class="large material-icons">edit_calendar</i>
                </a>
            </div>

            <div id="beelogger-charts-error-box" class="beelogger-error-box card blue-grey darken-1 hide"></div>
            <div id="beelogger-charts-loader" class="beelogger-error-box card blue-grey darken-1 hide">
                <div class="row center" id="loading">
                    <div class="card-content white-text">
                        <span id="loading-title" class="card-title">Daten werden geladen...</span>
                        <div id="loading-progress" class="progress">
                            <div class="indeterminate"></div>
                        </div>
                        <p id="loading-text">Die Daten werden aus unserer Datenbank abgerufen. Dies kann einen Moment dauern.</p>
                    </div>
                </div>
            </div>

            <main id="charts">
                {% include './components/charts.html' %}

            </main>
        </div>

        {% if pages.keys()|length >= 1 %}
            <div id="pages-tab" class="col s12">
                <ul id="slide-out" class="center sidenav">
                    <li><h4 style="color: black">Externe Seiten</h4></li><br>
                    {% for page in pages %}
                        <li class="collection-item left-align" onclick="navigatePages('{{ pages[page] }}')"><a style="cursor: pointer;"><i class="material-icons-outlined">link</i> {{ page }}</a></li>
                    {% endfor %}
                </ul>

                <a href="#" data-target="slide-out" class="sidenav-trigger"><i style="font-size: 50px; padding: 20px;" class="material-icons">menu</i></a>

                <div class="iframe">
                    <iframe sandbox="allow-scripts allow-forms allow-modals allow-same-origin allow-popups allow-popups-to-escape-sandbox" id="page-frame" src="{{ pages[0] }}" frameborder="0"></iframe>
                </div>
            </div>
        {% endif %}

        <div id="stundenplan-tab" class="col s12">
            <div class="iframe">
                <iframe id="plan-frame" src="https://tgg-leer.de/stundenplaene/stundenplaene.html"
                    frameborder="0"></iframe>
            </div>
        </div>

        <div id="about-tab" class="center col s12">
            <main id="about">
                {% include './content/about.html' %}
            </main>
        </div>
    </div>
</main>
{% endblock %}

{% block custom_footer %}
<script src="/js/beelogger.js"></script>
<script src="/js/charts.js"></script>
<script src="/js/app.js"></script>
<script src="/js/display.js"></script>
<script>
    ! function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>
<script>
    window.setInterval(refreshData, 300000);
    // For development purposes:
    // window.setInterval(refreshData, 5000);
</script>
{% endblock %}