{% extends "base.html" %}

{% block custom_header %}{% endblock %}

{% block content %}
<main>
    <div class="valign-wrapper">
        <div class="container">
            <h1><i>{{ feed_name.upper() }}</i> Feed</h1>
            {% for record in records %}
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                    <span class="card-title">{{ record["title"] }}</span>
                    <b>{{ record["time"] }}</b>
                    <p>{{ record["text"] }}</p>
                    </div>
                    <div class="card-action">
                    <a href="/rss/{{ feed_name }}/{{ record['id'] }}/?pretty">Ansehen</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

{% block custom_footer %}{% endblock %}