{% extends "base.html" %}

{% block custom_header %}
    <link rel="stylesheet" href="/css/app.css">
{% endblock %}

{% include './components/header.html' %}

{% block content %}
    {% with links=pages %}
        {% include './components/sidenav.html' %}
    {% endwith %}

    {% include './components/mainpage.html' %}
{% endblock %}

{% block custom_footer %}
    <script src="/js/beelogger.js"></script>
    <script src="/js/charts.js"></script>
    <script src="/js/app.js"></script>
{% endblock %}