{% extends "base.html" %}

{% block custom_header %}
<link rel="stylesheet" href="/css/app.css">
{% endblock %}

{% block content %}
<div class="row center" id="loading">
    <div class="card col s10 m6 offset-s1 offset-m3 blue-grey darken-1" style="margin-top: 40px;">
        <div class="card-content white-text">
            <span id="loading-title" class="card-title">Daten werden geladen...</span>
            <div id="loading-progress" class="progress">
                <div class="indeterminate"></div>
            </div>
            <p id="loading-text">Die Daten werden aus unserer Datenbank abgerufen. Dies kann einen Moment dauern.</p>
        </div>
    </div>
</div>

<main class="hide">
    {% include './components/header.html' %}
    
    {% with links=pages %}
        {% include './components/sidenav.html' %}
    {% endwith %}

    {% include './components/modals.html' %}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue accent-3 modal-trigger" href="#dateRangeModal">
            <i class="large material-icons">edit_calendar</i>
        </a>
    </div>

    <a class="weatherwidget-io" href="https://forecast7.com/de/53d247d47/leer/" data-label_1="LEER"
        data-label_2="WETTER" data-theme="original">LEER WETTER</a>
    
    {% include './components/current-data.html' %}

    {% include './components/charts.html' %}

    {% include './components/footer.html' %}
</main>
{% endblock %}