<h3 id="compare" class="chart-title">Vergleichsansicht</h3>
<p class="display-info"></p>
<div id="chartContainer">
    <div id="chart"></div>
</div>

<div class="container center">
  <div class="switch">
    <label>
      <input id="scale-switch" type="checkbox">
      <span class="lever"></span>
      <p style="font-size: 20px;">Separater Maßstab für Gewicht</p>
    </label>
  </div>
</div>

<h3 id="weight-chart-title" class="chart-title">Gewicht</h3>
<p class="display-info"></p>
<div id="weight_chart" class="detail-chart"></div>

<h3 id="delta-chart-title" class="chart-title">Gewichtsdelta</h3>
<p class="delta-display-info"></p>
<div id="delta_chart" class="detail-chart"></div>

<h3 id="temperature-chart-title" class="chart-title">Temperatur</h3>
<p class="display-info"></p>
<div id="temp_chart" class="detail-chart"></div>

<h3 id="humidity-chart-title" class="chart-title">Luftfeuchtigkeit</h3>
<p class="display-info"></p>
<div id="humidity_chart" class="detail-chart"></div>
