<div id="beelogger-current" class="row center">
    <h3 id="summary" style="margin-left: 20px;">Aktuell</h3>

    <div class="row">
        <div class="beelogger-current-box col s12 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="material-icons">thermostat</span>
                    <span class="card-title">Temperatur</span>
                    <p id="temperature" style="font-size: 200%;">Loading...</p>
                </div>
            </div>
        </div>

        <div class="beelogger-current-box col s12 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="material-icons-outlined">monitor_weight</span>
                    <span class="card-title">Gewicht</span>
                    <p id="weight" style="font-size: 200%;">Loading...</p>
                </div>
            </div>
        </div>

        <div class="beelogger-current-box col s12 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="material-icons">water</span>
                    <span class="card-title">Luftfeuchtigkeit</span>
                    <p id="humidity" style="font-size: 200%;">Loading...</p>
                </div>
            </div>
        </div>
        <p><b>Gemessen: <i id="updated"></i></b></p>
    </div>
</div>