<footer class="page-footer blue accent-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">BeeLogger</h5>
                <p class="grey-text text-lighten-4">
                    BeeLogger ist ein Projekt, welches es Imkern erlaubt, mithilfe von Sensoren und Waagen, Daten rund um den Stock zu sammeln und zu verwalten.
                    Es wird von zwei Schülern entwickelt und gewartet.
                    <br>
                    <a href="#aboutModal" class="modal-trigger white-text">&rarr; Mehr erfahren</a>
                </p>
            </div>
            <div class="col l5 offset-l1 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 modal-trigger" href="#contactModal">&rarr; Kontakt</a></li>
                    <li><a class="grey-text text-lighten-3 modal-trigger" href="#contactModal">&rarr; Fehler melden</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/fabiancdng">&rarr; GitHub: Fabian Reinders</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/AuxiliumCDNG">&rarr; GitHub: Sönke Klock</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2020-2021 Fabian Reinders und Sönke Klock
        </div>
    </div>
</footer>