<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue accent-3">
                <div class="brand-logo center" style="margin: auto auto">BeeLogger</div>
                <a data-target="slide-out" class="sidenav-trigger show-on-medium-and-down" style="cursor: pointer"><i class="material-icons">menu</i></a>

                <ul class="right">
                    <li><a onclick="window.location.reload();" title="Aktualisieren"><i class="material-icons">refresh</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>