<main>
    {% include './components/about-modal.html' %}
    {% include './components/modals.html' %}

    <div id="reload-button" class="fixed-action-btn">
        <a class="btn-floating btn-large blue accent-3" onclick="applyDateRange();">
            <i class="large material-icons">refresh</i>
        </a>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue accent-3 modal-trigger" href="#dateRangeModal">
            <i id="beelogger-daterange-icon" class="large material-icons hide">edit_calendar</i>
            <div id="beelogger-preloader" class="preloader-wrapper small loader active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </a>
    </div>

    {% with weather=weather_data %}
        {% include './components/weather.html' %}
    {% endwith %}

    {% include './components/current-data.html' %}

    <div id="beelogger-charts-error-box" class="beelogger-error-box card blue-grey darken-1 hide"></div>

    <div id="beelogger-charts-loader" class="beelogger-error-box card blue-grey darken-1 hide">
        <div class="row center" id="loading">
            <div class="card-content white-text">
                <span id="loading-title" class="card-title">Daten werden geladen...</span>
                <div id="loading-progress" class="progress">
                    <div class="indeterminate"></div>
                </div>
                <p id="loading-text">Die Daten werden aus unserer Datenbank abgerufen. Dies kann einen Moment dauern.</p>
            </div>
        </div>
    </div>

    <div id="charts">
        {% include './components/charts.html' %}
    </div>

    {% include './components/footer.html' %}
</main>