<div id="contactModal" class="modal">
    <div class="modal-content">
        <h4>Kontakt</h4>
        <p>Mit folgendem Formular kannst du uns kontaktieren:</p>

        <form id="contact-form" action="/post_contact" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" name="name" class="validate">
                    <label for="icon_prefix">Dein Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Deine E-Mail Adresse</label>
                    <span class="helper-text"
                        data-error="Wir brauchen deine gültige E-Mail Adresse, um dir antworten zu können."
                        data-success="Okay!"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix3" name="message" class="materialize-textarea"></textarea>
                    <label for="icon_prefix3">Deine Nachricht</label>
                </div>
            </div>

            <p>Du kannst auch eine Datei (wie einen Screenshot oder Ähnliches) anhängen [optional]:</p>
            <div class="container center" style="width: 50%; margin-bottom: 40px;">
                <div class="file-field input-field">
                    <div class="btn blue accent-3">
                        <span>Datei anhängen</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            
            <br>

            <div class="center">
                <button id="contact-submit-button" type="submit" class="waves-effect waves-light btn-large blue accent-3"
                        onclick="document.getElementById('contact-submit-button').setAttribute('disabled', 'true'); 
                        document.getElementById('contact-form').submit();">Absenden</button>
            </div>
        </form>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Schließen</a>
        </div>
    </div>
</div>

<div id="dateRangeModal" class="modal">
    <div class="modal-content">
        <h4>Zeitraum ändern <span class="badge red white-text">Experimentelle Funktion</span></h4>
        <p>Unten kannst du einen Zeitraum auswählen, für den die Daten angezeigt werden sollen (in den Diagrammen).</p>

        <br>

        <b>Datum ab dem die angezeigten Daten beginnen sollen:</b>
        <input id="from-date-input" type="text" class="datepicker" placeholder="Alle Daten von ...">
        <b>Datum an dem die angezeigten Daten enden sollen:</b>
        <input id="to-date-input" type="text" class="datepicker" placeholder="Alle Daten bis ...">
        <p>
            <label>
                <input id="daterange-save-to" type="checkbox" class="filled-in" checked="checked" />
                <span>Enddatum für den nächsten Besuch speichern</span>
            </label>
        </p>
      
        <b>Zeitspanne für die Berechnung von Delta Werten (in Minuten):</b>
        <input id="delta-span-input" type="number" class="input" placeholder="Standardmäßig 1 Tag also 1440">

        <p><b>Warum sehen die Diagramme bei einem Zeitraum größer als 10 Tage anders aus?</b> Die Daten werden, besonders bei großen Datenmengen (über 10 Tage), dadurch reduziert, dass ein Durchschnittswert für jeden Tag gebildet wird. Da es insgesamt 48 gemessene Datensätze pro Tag gibt, wäre das Diagramm ansonsten schwer bis kaum ablesbar.
            So sind auch bei großen Zeiträumen langfristige Tendenzen ablesbar. Die unreduzierten Daten sind per API abrufbar.
        </p>
        <div class="container center" style="margin-top: 30px;">
            <button onclick="applyDateRange();" class="modal-close waves-effect waves-light btn-large blue accent-3">Ansicht ändern</button>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Schließen</a>
    </div>
</div>