

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><h3 class="center">BeeLogger</h3></li>

    <li><div class="divider"></div></li>

    <ul class="section table-of-contents">
        <li><a class="subheader">Gesamt</a></li>
        <li><a class="waves-effect" href="#current-data"><i class="material-icons-outlined">assessment</i>Aktuell</a></li>
        <li><a class="waves-effect" href="#compare-chart"><i class="material-icons">insights</i>Vergleichsansicht</a></li>

        <li><div class="divider"></div></li>

        <li><a class="subheader">Andere Ansichten</a></li>
        <li><a class="waves-effect" href="#weight-chart"><i class="material-icons-outlined">monitor_weight</i>Gewicht</a></li>
        <li><a class="waves-effect" href="#temp-chart"><i class="material-icons-outlined">thermostat</i>Temperatur</a></li>
        <li><a class="waves-effect" href="#humid-chart"><i class="material-icons-outlined">water</i>Luftfeuchtigkeit</a></li>
    </ul>

    {% if links.keys()|length >= 1 %}
        <li><div class="divider"></div></li>
        <li><a class="subheader">Externe Seiten</a></li>
        {% for link in links.keys() %}
            <li><a class="waves-effect" href="/{{ link }}/"><i class="material-icons-outlined">link</i>{{ link }}</a></li>
        {% endfor %}
    {% endif %}

    <li><div class="divider"></div></li>
    <li><a class="subheader">Sonstiges</a></li>
    <li><a class="waves-effect" href="/rss/feeds/"><i class="material-icons-outlined">feed</i>Feeds</a></li>
    <li><div class="divider"></div></li>
    <br>

    <div class="container center">
        <a href="#aboutModal" style="margin-right: 10px;"
           class="modal-trigger">About</a>
        <a href="#contactModal" class="modal-trigger">Kontakt</a>
        <br>
        <a href="/opt-out/">Cookies ablehnen</a>
    </div>
</ul>
